<section id="home">
	<img class="header-logo" src="/images/trainsmart.png">
  	<h2>Harnessing AI to 
deliver <bold>efficient</bold>, <bold>safe</bold> and <bold>effective</bold> fitness training</h2>
	<img class="main_image" src="/images/3phone.png">
</section>
<section id="news">
	<h1>Product <g>Features</g> </h1>
</section>