<section id="home">
	<img class="header-logo" src="/images/trainsmart.png">
  	<h1>HARNESSING ARTIFICIAL INTELLIGENCE TO 
DELIVER EFFICIENT, SAFE AND EFFECTIVE 
FITNESS TRAINING</h1>
	<img class="main_image" src="/images/3phone.png">
</section>
<section id="news">
	<img class="main_image" src="/images/3phone.png">
</section>