<!DOCTYPE html>
<html>
  <head>
    <title>TrainSmart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

	<link href="https://fonts.googleapis.com/css?family=Cairo|Lato|Raleway|Righteous" rel="stylesheet">

  </head>
  <body>
<div class="topnav">
  <a class="active" id="a_home">Home</a>
  <a id="a_about">About</a>
  <a id="a_features">Product Features</a>
  <a id="a_contact">Contact</a>
  
</div>
    {{{body}}}
  </body>


</html>
