body {
  margin: 0px;
background: linear-gradient(138deg, #000000, #003312, #095624);
background-size: 300% 300%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
-o-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;


  
	color: white !important;
	font-family: 'Righteous', sans-serif;
	text-align: center;
	height: -webkit-fill-available;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@keyframes AnimationName { 
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}

a {
  color: #00B7FF;
}

.header-logo {
	max-width: 40em;
	max-height: auto;
}

.main_image {
 
  width: 55%;
  padding: 20px;
  margin: 10px;
}

h1, h2{
	font-family: 'Lato', sans-serif;

}

h1{
	font-weight: 100;
	font-size: 4em;
}

g{
	color: #5ff442;
}

h2{
	
	font-weight: 100;
	font-size: 1.5em;
}

bold {
	font-style: bold;
}

section {
	height: -webkit-fill-available;
	padding: 4%;
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}